.textarea {
  width: 310px;
  min-height: 350px;
  margin: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-light);
  outline: none;
  background: transparent;
  resize: none;
  padding: 10px;
}
