.img_container {
  width: 100%;
}

.img {
  width: 150px;
}

.options_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
}

.product_name {
  font-size: 18px;
  font-weight: var(--font-light);
  letter-spacing: 1px;
  text-transform: capitalize;
}

.product_color {
  font-size: 16px;
  font-weight: var(--font-light);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.price {
  font-size: 16px;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
}

.count_icon {
  font-size: 24px;
  font-weight: var(--font-regular);
  letter-spacing: 1px;
  padding: 0 11px;
  cursor: pointer;
  user-select: none;
}

.count {
  font-size: 22px;
  font-weight: var(--font-regular);
  letter-spacing: 1px;
  user-select: none;
}
